﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Test < /> </title>
    <!--Link til stylesheet-->
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/mediaqueries.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar">

        <img src="~/Content/Images/logo.png" class="logo" />
        <div class="brandname">Summer Company Inc.</div>



        <div class="navigation">
            <div class="nav-li">
                <b>
                    @Html.ActionLink("Caps", "Index", "Home", null, new { @class = "link" })
                </b>



                <b>
                    @Html.ActionLink("Sun glasses", "Index", "Home", null, new { @class = "link" })
                </b>


                <b>
                    @Html.ActionLink("Sunscreen", "Index", "Home", null, new { @class = "link" })
                </b>



            </div>

            <div class="toggle">

                <div class="imageToogle">
                    <img src="~/Content/Images/menu.png" />
                </div>


            </div>

        </div>


    </div>
    <div class="header">
        <h1 class="h1-tag">Sun Glasses</h1>
    </div>

    <div class="container">
        @RenderBody()


    </div>
 




    @RenderSection("scripts", required: false)
</body>
</html>
