﻿/*This stylesheet is custom made*/


body {
 
}


/*Alle elementer vil blive nulstillet til at have 0 i margin og padding

    
*/
* {
    margin: 0px;
    padding: 0px;
}


.navbar {

height:70px;

}




.logo {
    float: left;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
}

.brandname {
    color: #454444;
    font-size: 18pt;
 
}


.navigation {
    width: 400px;
    float: right;
}
.nav-li {


    /*height: 70px;*/ 
    
}

.imageToogle {

    height: 64px;
    width: 64px;
    float: right;
    padding:2px;
}





.link {
    width: 100px;
    height: 45px;
    text-align: center;
    padding-top:0px ;
 
    float: right;
    font-family:Roboto;
}

.link:visited {
    width: 100px;
    height: 45px;
    text-align: center;
    padding-top: 0px;

    float: right;
    font-family: Roboto;
}

    .link:hover {
        width: 100px;
        height: 45px;
        text-align: center;
        padding-top: 0px;
        color: #c6c667;
        text-decoration: underline;
        float: right;
    }

.header {
    background-image: url(Images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  
    min-height: 200px;
}

/*Benytter mig af en css selector, ændre farve på h1 elementet som er placeret i diven som har klassen ".header"*/
  .header >  .h1-tag 
  {
        /*Fra toppen er der angivet en padding på 100 px, svarede til en halvvering af header klassen*/
        padding-top:100px;
        font-family:Arial;

        color: yellow;
    }



.container 
{
    width:100%;
    height:500px;


}

.products {
    padding:10px;
    width:80%;
    height:100%;

    margin: 0 auto;
   

}

.product {
    width: 30%;
    margin: 1%;
    height: auto;
    float: left;
    background-color: red;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
}

.box {
    width: 100%;
    height: 250px;

  
    float: left;
}

.productimage {
    width: 100%;
    height: 250px;
}





.producttext {
    width: 50%;
    height: 40px;
    padding-top: 10px;


    float:left;
}

.productprice {
    width: 50%;
    height: 40px;
    padding-top: 10px;

    text-align: right;
    float: right;
}
/*Toogle ikonet vil blive skjulet på større skærmstørrelser..*/
@media only screen and (min-width: 992px) {
    .imageToogle {
        display: none;


    }
}


@media only screen and (min-width: 1200px) {
    .imageToogle {
        display: none;
    }
}


/* Maximum og minimum width på 600px, tiltænkt til mobiler og tablets)

    Media queries kan bruge til at tilpasse elementer med, ligesom man kender det fra bootstrap, 
    i dette tilfælde har vi en max brede på 600px. Hvis vinduet er minimeret ned til 600 px, 
    vil det simulere at det er en tablet eller mobil

*/

@media only screen and (max-width: 600px) {
    .nav-li {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .nav-li {
        display: none;
    }

    .imageToogle {
        display: block;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .nav-li {
        display: block;
    }

    .imageToogle {
        display: none;
    }
}



/*Produkt klassen fylder 100 %, hele skærmen når siden ses fra et mobil view..*/

@media only screen and (max-width: 600px) {
    .product {
        width: 100%;
        height: 250px;
        margin-top:75px;
        background-color: Highlight;
    }
}


@media only screen and (max-width: 600px) {
    .products {
      
        padding-top: 10px;
      
    }
}

