﻿@using System.IO;
@using System;
@using System.Web;
@model IEnumerable<devtest.Models.tblProduct>

@{
//Denne side viser ren opsætning af HTMl og CSS, med razor som syntax..
//string[] dir = Directory.GetFiles(Server.MapPath("~/Content/Images/Products/"));

//string imageFile = null;

//foreach (string file in dir)
//{
//    imageFile = Path.GetFileName(file).Substring(0,1);

//    //Response.Write(imageFile + ", ");



//}

}

<div class="products">


    @foreach (var item in Model)
    {
        <div class="product">

            <div class="box">
                <div class="productimage">
                    @{
                        string path = "/Content/Images/Products/" + item.id + ".jpg";
                    }

                    <img src="@path" class="productimage" />
                 


                </div>
                <div class="producttext">
                    <b>
                        @Html.DisplayFor(modelItem => item.productname)
                    </b>
                </div>
                <div class="productprice">
                    <b>
                        @Html.DisplayFor(modelItem => item.price)
                    </b>
                
                    @*@Html.DisplayFor(modelItem => Convert.ToDecimal(item.price))*@
                </div>
            </div>


        </div>
    }








</div>